.big-player {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  opacity: 0;
  transform: scale(0.95);
  animation: bigPlayerEnter 0.4s ease forwards;

  @include mobile {
    height: 75vh;
  }

  &-wrapper {
    padding-top: 36px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-top: 24px;
    position: relative;

    @include mobile {
      justify-content: center;
    }

  }

  &__track {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;

    @include tablet {
      column-gap: 64px;
    }

    @include mobile {
      flex-direction: column;
    }

    &-favorite {
      @include hover {
        opacity: .8;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @include mobile {
        row-gap: 4px;
      }
    }

    &-title {
      font-size: 64px;

      @include tablet {
        font-size: 40px;
      }

      @include mobile {
        text-align: center;
        font-size: 24px;
        padding-top: 12px;
      }
    }

    &-artist {
      font-size: 64px;
      opacity: .4;
      font-weight: 500;

      @include tablet {
        font-size: 40px;
      }

      @include mobile {
        font-size: 20px;
        text-align: center;
      }

      @include hover {
        color: var(--color-white);
        opacity: 1;
      }
    }

    &-image {
      border-radius: var(--border-radius);

      @include tablet {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__progress {
    width: 100%;
    height: 5px;
    appearance: none;
    background: var(--color-dark-alt);
    border-radius: var(--border-radius-small);
    outline: none;
    cursor: pointer;
    transition: var(--transition-duration);
    position: absolute;
    top: 0;
    left: 0;

    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @include hover {
      height: 6px;
    }

  }

  &__timing {
    @include mobile {
      display: none;
    }
  }

  &__volume {
    &-popup {
      position: absolute;
      top: -45px;
      right: -25px;
    }

    &-slider {
      transform: rotate(-90deg);
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100px;
      height: 6px;
      background: linear-gradient(to right, #AAFF7C var(--volume-percent, 50%), #333 var(--volume-percent, 50%));
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      transition: var(--transition-duration);
    }
  }

  &__control {
    display: flex;
    align-items: center;
    column-gap: 40px;


    @include desktop {
      column-gap: 24px;
    }

    &-icon {
      background: none;

      &--accent {
        filter: drop-shadow(0 0 8px rgba(170, 255, 124, 0.3));
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      column-gap: 32px;
      background: transparent;
      border: none;

      @include desktop {
        column-gap: 24px;
      }
    }

    &-button {
      @include hover {
        opacity: 0.8;
      }
    }
  }

  &__settings {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include mobile {
      column-gap: 4px;
      position: absolute;
      bottom: -70px;
      right: 0;
    }

    &-wrapper {
      position: relative;
    }

    &-button {
      @include hover {
        opacity: 0.8;
      }

      &-volume {
        @include mobile {
          display: none;
        }
      }
    }
  }

  &__popup {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: 8px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    padding: 8px 0;
    min-width: 160px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    &-button {
      width: 100%;
      padding: 8px 16px;
      background: transparent;
      border: none;
      color: var(--color-white);
      text-align: left;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &__playlists-popup {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: 8px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    padding: 8px 0;
    min-width: 200px;
    max-width: 300px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }

  &__playlists-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__playlists-item {
    margin: 0;
  }

  &__playlists-button {
    width: 100%;
    padding: 10px 16px;
    background: transparent;
    border: none;
    color: var(--color-white);
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__playlists-loading,
  &__playlists-empty {
    padding: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      column-gap: 12px;
      position: absolute;
      bottom: -70px;
      left: 0;
    }
  }
}

.big-player__progress::-webkit-slider-thumb,
.big-player__volume-popup::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

.big-player__progress::-moz-range-thumb,
.big-player__volume-popup::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: none;
}

.big-player__progress::-ms-thumb,
.big-player__volume-popup::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: none;
}



.big-player__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.big-player__volume-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}


.big-player__volume-slider::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}

@keyframes bigPlayerEnter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
