.artist {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @include desktop {
      column-gap: 16px;
    }
  }



  &__item {
    width: 358px;

    @include desktop {
      &:nth-child(5),
      {
        display: none;
      }
    }

    @include mobile {
      &:nth-child(4),
      &:nth-child(3) {
        display: none;
      }
    }

  }
}