body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg *  {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 14px;
}