.artist {
  position: relative;
  max-width: 358px;
  height: 383px;
  width: 100%;
  border-radius: var(--border-radius);
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;

  @include full-screen {
    height: 300px;
  }

  @include mobile {
    height: 230px;
  }


  &__favorite,
  &__pin {
    position: absolute;
    top: 20px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    @include mobile {
      display: none;
    }
  }

  &__favorite {
    right: 20px;
  }

  &__pin {
    right: 70px;
  }

  @include hover {
    .artist__favorite,
    .artist__pin {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.8) 0%,
                    rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
  }

  &__inner {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &__name {
    font-size: 24px;
    font-weight: 600;

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__listeners {
    font-weight: 500;
    opacity: .8;

    @include mobile {
      font-size: 12px;
    }

    &--accent {
      color: var(--color-accent);
    }
  }
}