.liked-tracks {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
    column-gap: 24px;
    row-gap: 20px;

    @include desktop {
      .track__item:nth-child(7),
      .track__item:nth-child(8),
      .track__item:nth-child(9) {
        display: block;
      }
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);

      .track__item:nth-child(5),
      .track__item:nth-child(6) {
        display: block;
      }
    }

  }

  &__item {
    max-width: 733px;
    width: 100%;
  }
}