.home {
  &__trend {
    &-list {
      display: grid;
      gap: 24px;

      @include full-screen {
        display: flex;
        flex-direction: column;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
    }

    &-item {
      width: 580px;

      @include full-screen {
        width: 900px;
      }

      @include desktop {
        width: 100%;
      }

      &--album {
        width: 297px;
        grid-column: 3;
        grid-row: 1 / span 2;
      }
    }
  }
}
