.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 394px;

  height: var(--button-height);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  border: 0;
  padding: 0;

  @include hover {
    box-shadow: var(--box-shadow-button);
  }

  &--transparent {
    border: var(--border-button);
    background-color: transparent;
    color: var(--color-white);

    @include hover {
      box-shadow: none;
      background-color: var(--color-accent);
      color: var(--color-dark);
    }
  }

  &__link {
    @include hover {
      color: var(--color-accent);
    }
  }
}