.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding-inline: 24px;
  z-index: 10;
  height: 100px;
  display: flex;
  align-items: center;

  @include mobile {
    bottom: 60px;
    box-shadow: none;

  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__track {
    display: flex;
    align-items: center;
    column-gap: 12px;

    @include tablet {
      column-gap: 8px;
    }

    &-favorite {
      &-icon {
        transition-duration: var(--transition-duration);
        @include hover {
          opacity: 0.8;
        }
      }
    }

    &-artist {
      opacity: .4;

      @include hover {
        color: var(--color-white);
        opacity: 1;
      }
    }

    &-title {
      font-weight: 600;
      @include tablet {
        font-size: 14px;
      }
    }

    &-image {
      border-radius: var(--border-radius-small);

      @include tablet {
        width: 40px;
        height: 40px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      column-gap: 32px;

      @include tablet {
        column-gap: 16px;
      }
    }
  }

  &__timing {
    opacity: .4;

    @include tablet {
      display: none;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    column-gap: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      display: none;
    }

    @include desktop {
      column-gap: 24px;
    }

    &-icon {
      background: none;

      &--accent {
        filter: drop-shadow(0 0 8px rgba(170, 255, 124, 0.3));
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      column-gap: 32px;
      background: transparent;
      border: none;

      @include desktop {
        column-gap: 24px;
      }
    }

    &-button {
      @include hover {
        opacity: 0.8;
      }
    }
  }

  &__settings {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      column-gap: 4px;
    }

    &-button {
      @include hover {
        opacity: 0.8;
      }

      &-volume {
        @include mobile {
          display: none;
        }
      }
    }
  }

  &__progress {
    width: 100%;
    height: 5px;
    appearance: none;
    background: var(--color-dark-alt);
    border-radius: var(--border-radius-small);
    outline: none;
    cursor: pointer;
    transition: var(--transition-duration);
    position: absolute;
    top: 0;
    left: 0;

    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @include hover {
      height: 6px;
    }

  }

  &__volume {
    &-popup {
      position: absolute;
      top: -35px;
      right: -8px;
    }

    &-slider {
      transform: rotate(-90deg);
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100px;
      height: 6px;
      background: linear-gradient(to right, #AAFF7C var(--volume-percent, 50%), #333 var(--volume-percent, 50%));
      border-radius: 3px;
      outline: none;
      cursor: pointer;

    }
  }
}




.player__progress::-webkit-slider-thumb,
.player__volume-popup::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

.player__progress::-moz-range-thumb,
.player__volume-popup::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: none;
}

.player__progress::-ms-thumb,
.player__volume-popup::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: none;
}



.player__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.player__volume-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}


.player__volume-slider::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}



