.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding-inline: 24px;
  z-index: 10;
  height: 100px;
  display: flex;
  align-items: center;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__track {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &-artist {
      opacity: .4;

      @include hover {
        color: var(--color-white);
        opacity: 1;
      }
    }

    &-title {
      font-weight: 600;
    }

    &-image {
      border-radius: var(--border-radius-small);
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      column-gap: 32px;
    }
  }

  &__timing {
    opacity: .4;
  }

  &__control {
    display: flex;
    align-items: center;
    column-gap: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      background: none;
    }

    &-buttons {
      display: flex;
      align-items: center;
      column-gap: 32px;
      background: transparent;
      border: none;
    }

    &-button {
      @include hover {
        opacity: 0.8;
      }
    }
  }

  &__settings {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-button {
      @include hover {
        opacity: 0.8;
      }
    }
  }

}