.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__page {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &-title {
      font-weight: 500;
      font-size: 16px;

      @include tablet {
        font-size: 14px;
      }
    }


  }

  &__avatar {
    border-radius: 50%;
    @include tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;

    @include hover {
      opacity: .8;
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-username {
      font-weight: 500;

      @include tablet {
        font-size: 12px;
      }
    }

    &-subscribe {
      color: var(--color-accent);
      opacity: .4;

      @include tablet {
        font-size: 12px;
      }
    }
  }


}