.search {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    height: 70vh;

    @include desktop {
      height: 50vh;
    }

    @include mobile {
      height: 20vh;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__form {
    max-width: 700px;
    width: 100%;
    position: relative;
  }

  &__input {
    max-width: 700px;
    width: 100%;
    height: 55px;
    padding-left: 24px;
    padding-right: 64px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius);
    color: var(--color-white);
    outline: none;
    transition-duration: var(--transition-duration);

    @include hover {
      border-color: var(--color-accent);
    }

    &:focus {
      border-color: var(--color-accent);
      box-shadow: 0 0 12px rgba(170, 255, 124, 0.3);
    }
  }

  &__button {
    position: absolute;
    right: 0;
    border-radius: var(--border-radius);

    @include hover {
      box-shadow: var(--box-shadow-button);
    }
  }
}